@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: rgb(147, 58, 142);
  background: linear-gradient(
    286deg,
    rgba(147, 58, 142, 1) 0%,
    rgba(20, 93, 145, 1) 36%,
    rgba(160, 93, 193, 1) 64%,
    rgba(51, 178, 156, 1) 100%
  );

  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
}

.top-caja {
  height: 20px;
}

img {
  width: 7em;
  border-radius: 50%;
  border: solid 5px rgb(60, 255, 0);
  animation-name: borderColorImg;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes borderColorImg {
  0% {
    border: solid 5px rgb(255, 0, 170);
  }

  50% {
    border: solid 5px rgba(255, 0, 170, 0.226);
  }

  100% {
    border: solid 5px rgb(255, 0, 170);
  }
}

audio {
  display: none;
}

@keyframes spotify {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.profile-pic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 175px;
  margin: 17px 30px 30px 20px;
}

.child-element h3 {
  margin-bottom: -20px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  color: rgb(255, 255, 255);
}

.child-element h4 {
  font-size: 0.8rem;
  color: #ffffffce;
  font-weight: 600;
  text-align: left;
  display: block;
  white-space: nowrap;
  border-right: solid 4px;
  width: 19ch;
  letter-spacing: 1px;
  animation: typing 2s steps(19), cursor 0.5s infinite step-end alternate;
  overflow: hidden;
}

.bg-b {
  position: relative;
  z-index: 1;
}

#fondo {
  position: absolute;
  width: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
  z-index: 2;
  left: 37%;
  top: 80%;
  transform: rotate(90deg);
}

.bg-b i {
  position: absolute;
  z-index: 3;
  left: 37%;
  top: 92%;
  border-radius: 50%;
  animation: spotify 4s infinite linear forwards;
  animation-play-state: paused;
}

i:hover {
  animation-play-state: running;
  cursor: pointer;
}



/* cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

/* typing effect */
@keyframes typing {
  from {
    width: 0;
  }
}

.child-element p{
  font-size: 0.9rem;
  font-size: medium;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.child-element {
  animation: fadeUp 0.5s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.caja {
  background-color: rgba(109, 49, 133, 0.438);
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  border: 2.5px solid rgba(109, 49, 133, 0.438);
  border-radius: 12px;
  height: fit-content;
}

.social-media {
  margin-top: 25px;
  animation: fadeDown 0.5s ease-in;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes Agrandar {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

.social-media li a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.botones li {
  margin: 10px;
  background-color: rgba(52, 19, 104, 0.534);
  border-radius: 20px;
  transition: all 0.3s;
  padding: 10px 15px;
}

.botones li:hover {
  animation: Agrandar 0.05s ease-in both;
}

.linkedin:hover {
  background-color: #0d6efdff;
}

.git:hover {
  background-color: #202b3c;
}

.ig:hover {
  background: rgb(198, 63, 251);
  background: radial-gradient(
    circle,
    rgba(198, 63, 251, 1) 0%,
    rgba(252, 70, 95, 1) 100%
  );
}

.twitter:hover {
  background-color: #1c9be9;
}

.youtube:hover {
  background-color: #f70000;
}

/*          PLANTILLA       */

.top-space {
  grid-area: header;
}

.navbar {
  grid-area: navbar;
}

.grid-caja {
  grid-area: main;

}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;

}

/*      GRID CONTAINER      */

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer";
}

/*      responsive tablet   */

@media (min-width: 660px) {
  .grid-container {
    grid-template:
      "header  header header" 25px
      "sidebar main navbar" auto
      "footer  footer footer" 25px /
      100px auto 100px;
  }
  #fondo {
    position: absolute;
    width: 1.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    z-index: 2;
    left: 37%;
    top: 80%;
    transform: rotate(90deg);
  }
}

/*      responsive escritorio   */

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header" 50px
      "sidebar main navbar" auto
      "footer  footer footer" 50px /
      400px auto 400px;
  }

  #fondo {
    position: absolute;
    width: 1.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    z-index: 2;
    left: 37%;
    top: 83%;
    transform: rotate(90deg);
  }

  .profile-pic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .child-element p {
    width: 17em;
  }
  img {
    width: 9em;
  }

  .social-media {
    margin-top: 5px;
  }
}
